/* ----------------------------------------------
 * http://recoveryman.tistory.com
 * recoveryman Stylesheet
 * Author - recoveryman
 ------------------------------------------------- */

@charset "UTF-8";

body{background-color: #1e1e1e;}

.hideArea{overflow:hidden;}
.multiLayer{position:relative;top:0;left:0;width:999999px;}
.multiLayer .scrollBlind{float:left;width:2000px;overflow-y:hidden;}
.scrollBlind{overflow-y:scroll;overflow-x:hidden;height:998px;}

.evt_wrap{
	overflow: hidden;
	position: absolute;
	/*top: 40px;*/left: 0;
	min-width:1200px;width: 100%;height:998px;
}
.evt_box{
	position: absolute;
	top:100%;left: 50%;
	width:2000px;
	margin-left: -1000px;
}
.evt1{top: 0;}


/* header
------------------------------------------------- */
.sp_common{background-image: url(../images/common/sp.png);}
header{
	position: absolute;
	top: 0;left: 0;z-index: 100;
	width: 100%;
	background: url(../images/common/bg_header.png);
}
nav{
	width: 1100px;
	margin: 0 auto;
}
nav .remocon{float: left;}
nav .remocon li{
	overflow: hidden;
	float: left;
	position: relative;
	height: 80px;
	cursor: pointer;
}
nav .remocon li img{
	top: 0;left: 0;
}
nav .remocon li.on img{
	top: -80px !important;
}
.menu2{width: 99px;}
.menu3{width: 85px;}
.menu4{width: 134px;}
.menu5{width: 119px;}
.menu6{width: 103px;}
.menu7{width: 105px;}
.menu7 .history{display: block;width: 105px;height: 80px;}

.nav2{float: right;}
.nav2 li{float: left;}
.nav2 .btn_today{
	width: 131px;height: 80px;
	background-position: 0 0;
}
.nav2 #jp_container2 .btn_audio{width: 55px;height: 80px;}
.nav2 #jp_container2 .jp-play{background-position:0 -82px}
.nav2 #jp_container2 .jp-pause{background-position:-57px -82px}
.nav2 .btn_home{
	width: 43px;height: 80px;
	background-position: -114px -80px;
}



/* intro
------------------------------------------------- */
footer{
	position: absolute;
	bottom: 0;left: 0;z-index: 100;
	width: 100%;height: 111px;
	background: url(../images/common/bg_footer.png) 0 0 repeat-x;
}
footer p{
	width: 1200px;
	margin: 0 auto;
}


/* intro
------------------------------------------------- */
.bg_introBackground{
	display: none;
	position: absolute;
	top: 0;left: 50%;
	width: 2000px;height: 998px;
	margin-left: -1000px;
	background: url(../images/intro/bg_intro.jpg) 0 0 no-repeat;
}
.fog1{left: 1000px;top: 0;}
.fog2{right: 1000px;top: 0;}
.fog3{right: 1000px;bottom: 0;}
.fog4{left: 1000px;bottom: -200px;}
.intro .scrollBlind{overflow-x: hidden;}
.intro .fullsize_video{
	position:absolute;
	top:0;left:50%;
	width:2000px;height:100%;
	margin-left:-1000px;
}
.intro .video_box{width:100%;height:100%;}
.intro .title_box{
	overflow: hidden;
	position: absolute;
	width: 1000px;height: 1000px;
	top: 520px;left: 100px;
}
.intro .title_box img{
	top: 0;left: 0;	
}
.intro .img_wheel{
	bottom: 0;
	left: 50%;
	margin-left: -22px;
}
.intro .btn_videoShow{
	display: block;
	overflow: hidden;
	position: absolute;
	bottom: 80px;left: 50%;
	margin-left: -76.5px;
	width: 153px;height: 153px;
	background: url(../images/intro/btn_videopop.png) 0 0 no-repeat;
	text-indent: -9999px;
}
.intro .video_pop{
	display: none;
	position: absolute;
	top: 50%;left: 50%;
	width: 940px;height: 529px;
	margin: -264px 0 0 -470px;
}
.intro .popupsize_video{position:relative;border:4px solid #b08856;}
.intro .btn_videoHide{
	overflow: hidden;
	display: block;
	position: absolute;
	top: 0;right: -60px;
	width: 60px;height: 60px;
	background: url(../images/intro/btn_videoclose.gif) 0 0 no-repeat;
	text-indent: -9999px;
}
.intro .ly_bg{
	display: block;
	position: fixed;
	top: 0;left: 0;
	width: 100%;height: 100%;
	background: url(../images/intro/bg_ly.png) 0 0 repeat;
}



/* story
------------------------------------------------- */
.story{background-image: url(../images/story/bg_story.jpg);}
.story .img1{top: 50px;right: -204px;}
.story .img2{top: 88px;right: 69px;}
.story .img3{top: 136px;left: 44px;}
.story .stone.animated{
	-webkit-animation-duration: 2s;
 	animation-duration: 2s;
}
.story .stone1{top: 695px;left: -233px;}
.story .stone2{top: 414px;left: -31px;}
.story .stone3{top: 501px;right: -105px;}
.story .stone4{top: 94px;right: 78px;}
.story .stone5{top: 261px;left: 657px;}
.story .stone6{top: 617px;right: 42px;}
.story .stone7{top: 364px;right: -204px;}
.story .stone8{top: 138px;right: 51px;}



/* field
------------------------------------------------- */
.field .field1{background: url(../images/field/bg_field1.jpg) 0 0 no-repeat;}
.field .field2{background: url(../images/field/bg_field2.jpg) 0 0 no-repeat;}
.field .field3{background: url(../images/field/bg_field3.jpg) 0 0 no-repeat;}
.field .multi_box{
	position: absolute;
	top: 119px;left: 50%;z-index: 1;
	width: 1122px;height: 768px;
	margin-left: -561px;
}
.field .bg_default{
	position: relative;
	width: 100%;height: 100%;
	background: url(../images/field/img_tabarea.png);
}
.field .btn_multiremocon{
	position: absolute;
	top: 121px;right: 50px;
}
.field .btn_multiremocon li{
	overflow: hidden;
	float: left;
	position: relative;
	width: 158px;height: 60px;
	margin-left: 10px;
	cursor: pointer;
}
.field .btn_multiremocon li:first-child{margin-left: 0;}
.field .btn_multiremocon li img{
	position: absolute;
	top: 0;left: 0;
}
.field .btn_multi.on img{top: -60px !important;}
.field .bg2{
	display: none;
	position: absolute;
	top: 15px;left: 6px;
}
.field .dec{
	display: none;
	position: absolute;
	top: 181px;right: 28px;
}
.field .btn_screen{
	position: absolute;
	bottom: 61px;right: 51px;
	cursor: pointer;
}
.field .img1{
	top: -20px;left: -263px;z-index: 2;
}
.field .img2{
	top: 185px;left: -18px;z-index: 2;
}
.field .img3{
	top: -73px;left: -370px;z-index: 2;
}
.field .img4{
	top: 598px;right: -274px;z-index: 2;
}
.field .img5{
	top: 254px;right: -225px;z-index: 2;
}
.field .img6{
	bottom: 0;left: -400px;z-index: 2;
}
.field .img7{
	bottom: 0;right: -400px;z-index: 2;
}



/* character
------------------------------------------------- */
.character{background-image: url(../images/character/bg_character.jpg);}
.character .img1{
	top: 81px;right: -60px;
}
.character .img2{
	bottom: 0;right: -8px;
}
.character .img3{
	bottom: 0;right: -408px;
}
.character .img4{
	bottom: -507px;right: -179px;
}
.character .multi_box{
	position: absolute;
	top: 118px;left: 43px;
	width: 578px;height: 770px;
	background: url(../images/character/img_tabarea.png) 0 0 no-repeat;
}
.character .btn_multiremocon{
	position: absolute;
	top: 122px;left: 53px;
}
.character .btn_multiremocon li{
	overflow: hidden;
	float: left;
	position: relative;
	width: 231px;height: 60px;
	margin-left: 10px;
	cursor: pointer;
}
.character .btn_multiremocon li:first-child{margin-left: 0;}
.character .btn_multiremocon li img{
	position: absolute;
	top: 0;left: 0;
}
.character .btn_multi.on img{top: -60px !important;}
.character .dec{
	display: none;
	position: absolute;
	top: 182px;left: 25px;
	width: 527px;height: 546px;
}
.character .dec .dec_txt{
	position: absolute;
	top: 0;left: 0;
}



/* monster
------------------------------------------------- */
.monster .monster1{background: url(../images/monster/bg_monster1.jpg) 0 0 no-repeat;}
.monster .monster2{background: url(../images/monster/bg_monster2.jpg) 0 0 no-repeat;}
.monster .multi_box{
	position: absolute;
	top: 118px;right: 423px;z-index: 1;
	width: 578px;height: 770px;
	background: url(../images/monster/img_tabarea.png) 0 0 no-repeat;
}
.monster .btn_multiremocon{
	position: absolute;
	top: 122px;left: 42px;
}
.monster .btn_multiremocon li{
	overflow: hidden;
	float: left;
	position: relative;
	width: 231px;height: 60px;
	margin-left: 10px;
	cursor: pointer;
}
.monster .btn_multiremocon li:first-child{margin-left: 0;}
.monster .btn_multiremocon li img{
	position: absolute;
	top: 0;left: 0;
}
.monster .btn_multi.on img{top: -60px !important;}
.system .btn_screen{
	position: absolute;
	bottom: 33px;left: 50%;
	margin-left: -236px;
	cursor: pointer;
}
.monster .dec{
	display: none;
	position: absolute;
	top: 182px;left: 14px;
	width: 527px;height: 546px;
}
.monster .dec .dec_txt{
	position: absolute;
	top: 0;left: 0;
}
.monster .img1{
	top: 258px;left: 56px;
}
.monster .img2{
	top: 205px;right: -383px;
}
.monster .img3{
	bottom: 0;right: -752px;
}
.monster .img4{
	bottom: -108px;left: -758px;
}
.monster .img5{
	top: 98px;left: -124px;
}
.monster .img6{
	top: 365px;left: 373px;
}
.monster .img7{
	bottom: 0;right: -401px;
}
.monster .img8{
	top: -49px;right: -39px;
}
.monster .img9{
	left: -404px;bottom: 11px
}



/* system
------------------------------------------------- */
.system{background-image: url(../images/system/bg_system.jpg);}
.system .multi_box{
	position: absolute;
	top: 118px;left: 43px;
	width: 578px;height: 770px;
	background: url(../images/system/img_tabarea.png) 0 0 no-repeat;
}
.system .btn_multiremocon{
	position: absolute;
	top: 122px;left: 53px;
}
.system .btn_multiremocon li{
	overflow: hidden;
	float: left;
	position: relative;
	width: 231px;height: 60px;
	margin-left: 10px;
	cursor: pointer;
}
.system .btn_multiremocon li:first-child{margin-left: 0;}
.system .btn_multiremocon li img{
	position: absolute;
	top: 0;left: 0;
}
.system .btn_multi.on img{top: -60px !important;}
.system .dec{
	display: none;
	position: absolute;
	top: 182px;left: 25px;
	width: 527px;height: 546px;
}
.system .dec .dec_txt{
	position: absolute;
	top: 0;left: 0;
}
.system .img1{
	top: 484px;right: 439px;
}
.system .img2{
	top: 401px;right: 491px;
}
.system .img3{
	top: 300px;right: 456px;
}
.system .img4{
	top: 251px;right: 370px;
}
.system .img5{
	top:292px;right: 276px;
}
.system .img6{
	bottom: 0;right: -100px;
}
.system .img7{
	bottom: 48px;right: -198px;
}
.system .img8{
	bottom: 0;right: 181px;
}
.system .img9{
	bottom: 0;right: -62px;
}
.system .img10{
	bottom: 0;right: 76px;
}



/* popup slider
------------------------------------------------- */
.sc_wrap{
	display: none;
	position: fixed;
	top: 0;left: 0;z-index: 10;
	width: 100%;height: 100%;
	background: url(../images/intro/bg_ly.png) 0 0 repeat;
}
.sc_wrap .sc_box{
	position: absolute;
	top: 50%;left: 50%;
	width: 932px;height: 521px;
	margin:-260px 0 0 -466px;
	border: 4px solid #b08856;
}
.sc_wrap .sc_hidden{
	overflow:hidden;
	position: relative;
	width: 932px;height: 521px;
}
.sc_wrap .sc_hidden ul{
	position: absolute;
	top: 0;left: 0;
	width: 999999px;height:521px;
}
.sc_wrap .sc_hidden ul li{
	float: left;
	width: 932px;height: 521px;
}
.sc_wrap .sc_hidden ul li img{
	width: 100%;height: 100%;
}
.sc_wrap .sc_box .btn_dir{
	display: block;
	position: absolute;
	top: 50%;
	width: 41px;height: 82px;
	margin-top: -41px;
	cursor: pointer;
}
.sc_wrap .sc_box .lt{left: -71px;}
.sc_wrap .sc_box .gt{right: -71px;}
.sc_wrap p{
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 30px;font-weight: bold;
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	color: #907e5f;
}
.sc_wrap p span{padding: 0 5px;}
.sc_wrap .btn_sclose{
	display: block;
	position: absolute;
	top: -4px;right: -64px;
	width: 60px;height: 60px;
	cursor: pointer;
}

/* slider
------------------------------------------------- */
.sc_box2{
	position: absolute;
	bottom: 69px;left: 50%;
	width: 470px;height: 263px;
	margin-left: -235px;
	border: 1px solid #b08856;
	-webkit-box-shadow: 4px 7px 33px -3px rgba(0,0,0,1);
	-moz-box-shadow: 4px 7px 33px -3px rgba(0,0,0,1);
	box-shadow: 4px 7px 33px -3px rgba(0,0,0,1);
}
.sc_hidden2{
	overflow:hidden;
	position: relative;
	width: 470px;height: 263px;
}
.sc_hidden2 ul{
	position: absolute;
	top: 0;left: 0;
	width: 999999px;height:263px;
}
.sc_hidden2 ul li{
	float: left;
	width: 470px;height: 263px;
}
.sc_hidden2 ul li img{
	width: 100%;height: 100%;
}
.sc_box2 .btn_dir2{
	display: block;
	position: absolute;
	bottom: -45px;
	width: 28px;height: 28px;
	cursor: pointer;
}
.sc_box2 .lt2{left: 150px;}
.sc_box2 .gt2{right: 150px;}
.sc_box2 p{
	height: 50px;
	margin-top: 6px;
	line-height: 50px;
	text-align: center;
	font-size: 30px;font-weight: bold;
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	color: #907e5f;
}
.sc_box2 p span{padding: 0 5px;}