@charset "utf-8";

/* ----------------------------------------------
 * http://recoveryman.tistory.com
 * recoveryman Stylesheet
 * Author - recoveryman
 ------------------------------------------------- */

/* CSS Reset
-------------------------------------------------------------- */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, img, strong, small, dl, dt, dd, ol, ul, li, fieldset, form, select, input, button, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, figure, figcaption{margin:0; padding:0; font-size:100%}
img, fieldset, button{border:0}
article, aside, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}
body, input, button, textarea, select, table, kbd{line-height:1.2; font-family:Malgun Gothic,'맑은고딕','돋움', dotum, Helvetica, sans-serif; font-size:12px; color:#000}
img{vertical-align:middle}
ol, ul{list-style:none}
a{text-decoration:none; color:#000}
a:hover, a:focus, a:active{text-decoration:underline; color:#0000ff}
button, label{cursor:pointer}
button::-moz-focus-inner, input::-moz-focus-inner{padding:0; border:0}
table{border-collapse:collapse; border-spacing:0}
caption, legend{width:0; height:0; font-size:0; line-height:0; text-indent:-9999px; visibility:hidden}

/* Reserved Class
-------------------------------------------------------------- */
.irPm{display:block; overflow:hidden; font-size:0px; line-height:0; text-indent:-9999px}
.irWa{display:block; overflow:hidden; position:relative; width:100%; height:100%; z-index:-1}
.blind{width:1px; height:1px; font-size:0; line-height:0; position:absolute; top:0; left:-1000%; overflow:hidden}
.show{display:block}
.hide{display:none}
.fL{float:left}
.fR{float:right}
.clearFix{zoom:1}
.clearFix:after{clear:both; display:block; content:''}
.opc{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0}

/* Styles
-------------------------------------------------------------- */
#wrap{position:relative;overflow:hidden;width:100%;min-width:1200px}
.container{width:100%;min-width:1200px;background-position:50% 0;background-repeat:no-repeat}
.inner{position:relative;width:1200px;height:100%;margin:0 auto}
.sp{overflow:hidden;display:block;background-repeat:no-repeat;text-indent:-9999px}
.posi_img, .posi_box{position:absolute}